<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Front-end Scaffolding</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="viewport" content="initial-scale=1, width=device-width, height=device-height, user-scalable=no">

		<link rel="icon" href="images/appIcon/icon.png" sizes="32x32" type="image/png">
		<link rel="apple-touch-icon" href="assets/images/appIcon/icon-60@2x.png">
		<link rel="apple-touch-icon" sizes="58x58" href="assets/images/appIcon/icon-Small@2x.png">
		<link rel="apple-touch-icon" sizes="76x76" href="assets/images/appIcon/icon-76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="assets/images/appIcon/icon-76@2x.png">
		<link rel="apple-touch-icon" sizes="180x180" href="assets/images/appIcon/icon-60@3x.png">

    <link href="styles/major.css" rel="stylesheet">

		<noscript>
			<link href="styles/minor.css" rel="stylesheet">
    </noscript>
  </head>
  <body>
    {{> partials/header.html}}

    {{> partials/header.html}}

    <script src="scripts/main.js"></script>
  </body>
</html>