//---------- RESPONSIVE BREAKPOINTS ----------//
//--------------------------------------------//
$SCREEN-FULLHD: "only screen and (max-width : 1920px)";
$SCREEN-MIDHD:  "only screen and (max-width : 1680px)";
$SCREEN-HD:   	"only screen and (max-width : 1280px)";
$TABLET-LAND: 	"only screen and (max-width : 1080px)";
$TABLET-PORT: 	"only screen and (max-width : 800px)";
$PHONE:     		"only screen and (max-width : 414px)";
